@model WebDangKySuDungPhongMay.ViewModels.LoginViewModel
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Đăng nhập</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/login.css" />
   
</head>
<body>
    <section class="vh-100">
        <div class="container-fluid h-custom">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col-md-9 col-lg-6 col-xl-5">
                    <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/draw2.webp"
                         class="img-fluid" alt="Sample image">
                </div>
                <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">
                    <form asp-action="Login" method="post">
                        <div class="d-flex flex-row align-items-center justify-content-center justify-content-lg-center">
                            <img src="https://upload.wikimedia.org/wikipedia/commons/4/42/Logo_%C4%90%E1%BA%A1i_h%E1%BB%8Dc_S%C6%B0_ph%E1%BA%A1m_K%E1%BB%B9_thu%E1%BA%ADt_%C4%90%C3%A0_N%E1%BA%B5ng.png"
                                 class="img-fluid" alt="Sample image" width="150">
                        </div>
                        <div class="divider d-flex align-items-center my-4">
                            
                        </div>

                        <!-- Username input -->
                        <div class="form-floating-label">
                            <input asp-for="Username" class="form-control form-control-lg" placeholder=" " />
                            <label asp-for="Username">Địa chỉ email</label>
                            <span asp-validation-for="Username" class="text-danger"></span>
                        </div>
                        <!-- Password input -->
                        <div class="form-floating-label">
                            <input asp-for="Password" class="form-control form-control-lg" placeholder=" " type="password" />
                            <label asp-for="Password">Mật khẩu</label>
                            <span asp-validation-for="Password" class="text-danger"></span>
                        </div>
                        <div class="text-center text-lg-start mt-4 pt-2">
                            <button type="submit" class="btn btn-primary btn-lg"
                                    style="padding-left: 2.5rem; padding-right: 2.5rem;">
                                Đăng nhập
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="d-flex flex-column flex-md-row text-center text-md-start justify-content-center py-4 px-4 px-xl-5 bg-primary">
            <!-- Copyright -->
            <div class="text-white mb-3 mb-md-0">
               Copyright © 2024, Trường Đại Học Sư Phạm Kỹ Thuật - Đà Nẵng

            </div>
           
        </div>
    </section>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

</body>
</html>
